// !color

$green: #1db954;
$light-green: #1ed760;
$bg-primary: #121212;
$black: #000000;
$bg-secondary: #282828;
$text-primary: #ffffff;
$text-secondary: #b3b3b3;
$bg-blue: #2941ab;
$gray: #818181;
$gray-secondary: #3E3E3E;
$gray-icon: #EEEEEE;

// !weight

$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$xbold: 800;
$black: 900;

// !breakpoints