@import "./variables";

.landingPage {
  padding: 1rem;
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $light-green;
  background: $bg-blue;
  h1 {
    font-size: 6rem;
  }
  p {
    font-size: 1.25rem;
    font-weight: $medium;
  }
  .btn {
    color: $bg-blue;
  }
}

@media (max-width: 768px) {
  .landingPage {
    h1 {
      font-size: 5rem;
    }
  }
}