@import './variables';

.navWrapper {
  position: fixed;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1rem);
  padding: 0.5rem 0;
  width: 100%;
  .nav {
    color: $text-primary;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .logo {
      sup {
        color: $bg-primary;
        text-transform: uppercase;
        font-size: 0.5rem;
        font-weight: $xbold;
        background: $text-secondary;
        padding: 0.2rem;
        border-radius: 0.2rem;
        position: relative;
        top: -0.2rem;
        left: 0.1rem;
      }
      margin-left: 0.5rem;
      cursor: pointer;
      &:hover {
        color: $light-green;
      }
    }
    .links {
      margin-left: auto;
      display: flex;
      & > * {
        margin-right: 1rem;
        &:hover {
          color: $light-green;
          cursor: pointer;
        }
      }
    }
  }
  .menuIcon {
    display: none;
  }
}

.avatar {
  border-radius: 50%;
}

.account {
  border-left: 1px solid white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  h3 {
    margin-left: 1rem;
    font-weight: $bold;
    &:hover {
      color: #1ed760;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .navWrapper {
    h3:not(.login) {
      display: none;
    }
    padding: 0.5rem 1rem;
    .account {
      border-left: 0;
    }
    font-size: 0.7rem;
    .menuIcon {
      display: flex;
      align-items: center;
      margin-left: 1rem;
    }
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 3;
    & > div {
      padding: 1rem 1rem 0 2.5rem;
    }
    .seperator {
      font-size: 2px;
      padding: 0px 10px;
      background: $text-primary;
    }
    p {
      font-size: 1.5rem;
      color: $text-secondary;
    }
    h1,
    p {
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
