@use "sass:math";
@import '../styles/variables';

:root {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: $normal;
  margin: 0;
  padding: 0;
  background: $bg-primary;
  color: $text-primary;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
}

@mixin center-width($width) {
  width: $width;
  left: calc(50% - #{$width / 2});
}

.modal {
  position: fixed;
  top: 20vh;
  @include center-width(500px);
  z-index: 10;
}

@media (min-width: 520px) and (max-width: 760px) {
  .modal {
    @include center-width(520px);
  }
}

@media (min-width: 375px) and (max-width: 520px) {
  .modal {
    @include center-width(360px);
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  .modal {
    @include center-width(270px);
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .modal {
    @include center-width(310px);
  }
}

@media (max-width: 275px) {
  .modal {
    @include center-width(180px);
  }
}

@mixin button_mixin($background, $background-hover, $border, $border-hover, $size, $color) {
  background: $background;
  color: $text-primary;
  font-size: $size;
  color: $color;
  padding: $size $size * 2;
  border-radius: 5rem;
  text-transform: uppercase;
  border: 0.3rem solid $border;
  font-weight: $bold;
  transition: 250ms;
  &:hover {
    background: $background-hover;
    border: 0.3rem solid $border-hover;
    transform: scale(1.1);
    cursor: pointer;
  }
}

@mixin chip_mixin($background) {
  background: $background;
  color: $text-primary;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  white-space: nowrap;
  border: 1px solid $gray;
}

.playlist-modal {
  padding: 1rem;
  background: $bg-secondary;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  input {
    background: $gray-secondary;
    border: 1px solid $gray-secondary;
    border-radius: 3px;
    font-size: inherit;
    padding: 1rem;
    color: inherit;
    margin-bottom: 1rem;
    &:hover {
      border: 1px solid $text-secondary;
      transition: 0.25s;
    }
  }
  h1 {
    margin: 1rem 0;
  }
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.87);
  z-index: 2;
}

.border-green {
  border: 1px solid $light-green;
  position: absolute;
  z-index: 3;
  border-radius: 10rem;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}

.background-green {
  background: $green;
  z-index: -1;
}

.chip-outlined {
  @include chip_mixin(transparent);
  position: relative;
  margin: 0.5rem 0;
}

.chip-container {
  max-width: 100vw;
  display: flex;
  overflow: auto;
  & > * {
    margin-left: 1rem;
  }
}

.btn {
  @include button_mixin($green, $light-green, $green, $light-green, 1rem, $text-primary);
}

.btn-outlined {
  @include button_mixin(transparent, $light-green, $green, $light-green, 1rem, $text-primary);
}

.btn-sm {
  @include button_mixin($text-primary, $text-primary, $text-primary, $text-primary, 0.8rem, $bg-secondary);
}

.btn__container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .fab-btn {
    position: fixed;
    bottom: 2rem;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    .btn {
      width: 20rem !important;
    }
  }
  .landing-page {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
