:root {
  --green: #1db954;
  --light-green: #1ed760;
  --bg-primary: #121212;
  --black: #000000;
  --bg-secondary: #282828;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --bg-blue: #2941ab;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$xbold: 800;
$black: 900;

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: $normal;
  margin: 0;
  padding: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
}

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > * {
    margin: 0 auto;
  }
}

@mixin center-width($width) {
  width: $width;
  left: calc(50% - #{$width / 2});
}

.modal {
  position: fixed;
  top: 20vh;
  @include center-width(500px);
  z-index: 10;
}

nav {
  background: var(--black);
  padding: 0.5rem 0;
  .nav {
    color: var(--text-primary);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .links {
      margin-left: auto;
      display: flex;
      & > * {
        margin-right: 1rem;
        &:hover {
          color: var(--light-green);
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 512px) {
  .album-header {
    h4 {
      font-size: 1.25rem;
    }
    h6 {
      font-size: 1rem;
    }
  }
}

@media (min-width: 512px) and (max-width: 762px) {
  .album-header {
    h4 {
      font-size: 1.5rem;
    }
    h6 {
      font-size: 1.25rem;
    }
  }
}

.account {
  border-left: 1px solid white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  h3 {
    margin-left: 1rem;
    font-weight: $bold;
    &:hover {
      color: #1ed760;
      cursor: pointer;
    }
  }
}

@media (min-width: 520px) and (max-width: 760px) {
  .modal {
    @include center-width(520px);
  }
}

@media (min-width: 375px) and (max-width: 520px) {
  .modal {
    @include center-width(360px);
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  .modal {
    @include center-width(270px);
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .modal {
    @include center-width(310px);
  }
}

@media (max-width: 275px) {
  .modal {
    @include center-width(180px);
  }
}

.btn {
  background: var(--green);
  color: var(--text-primary);
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 35rem;
  border: 0;
  font-weight: $bold;
  transition: 250ms;
  &:hover {
    background: var(--light-green);
    transform: scale(1.1);
    cursor: pointer;
  }
}

@mixin button_mixin($background) {
  background: $background;
  color: var(--text-primary);
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 35rem;
  border: 0;
  border: 0.3rem solid var(--green);
  font-weight: $bold;
  transition: 250ms;
  &:hover {
    background: var(--light-green);
    border: 0.3rem solid var(--light-green);
    transform: scale(1.1);
    cursor: pointer;
  }
}

.btn {
  @include button_mixin(var(--green))
}

.btn-outlined {
  @include button_mixin(transparent)
}

.btn__container {
  display: flex;
  justify-content: space-around;
}


.avatar {
  border-radius: 50%;
}

.landing-page {
  height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--light-green);
  background: var(--bg-blue);
  h1 {
    font-size: 6rem;
  }
  p {
    font-size: 1.25rem;
    font-weight: $medium;
  }
  .btn {
    color: var(--bg-blue);
  }
}

@media (max-width: 768px) {
  .fab-btn {
    position: fixed;
    bottom: 1rem;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    .btn {
      width: 20rem !important; 
    }
  }
  .landing-page {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
    }
  }
  nav {
    h3:not(.login) {
      display: none;
    }
    padding: 0.5rem 1rem;
    .account {
      border-left: 0;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.table {
  margin-top: 1rem;
  color: var(--text-secondary);
  font-weight: $medium;
  .table__row {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 30px 75px 480px 505px 10px;
    div {
      display: flex;
      align-items: center;
    }
    &:hover {
      background-color: var(--bg-secondary);
    }
  }
  .table__header {
    display: grid;
    grid-template-columns: 110px 490px 500px auto 10px;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #b3b3b34b;
  }
  .table__index {
    font-weight: $semibold;
    color: var(--text-secondary);
  }
  .table__credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start !important;
  }
  .title {
    font-size: 1.25rem;
    color: var(--text-primary);
  }
}

@media (max-width: 520px) {
  .table {
    .table__row {
      grid-template-columns: 0.2fr 1fr 0.1fr;
      grid-gap: 1rem;
    }
    .table__header {
      grid-template-columns: 1fr 0.2fr;
      margin: 0 1rem;
    }
    .table__album,
    .table__index {
      display: none !important;
    }
    .header__album,
    .header__index {
      display: none;
    }
    margin: 1rem 0.5rem;
    font-size: 0.9rem;
    .title {
      font-size: 1rem;
    }
  }
}
